USE [Hotel_Manager]
GO
ALTER TABLE [dbo].[PHONG] DROP CONSTRAINT [FK__PHONG__MALOAIPHO__3C69FB99]
GO
ALTER TABLE [dbo].[HOADONPH] DROP CONSTRAINT [FK_P]
GO
ALTER TABLE [dbo].[HOADONPH] DROP CONSTRAINT [FK_KH]
GO
ALTER TABLE [dbo].[HOADONPH] DROP CONSTRAINT [FK_DVNP]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 14/07/2021 12:07:06 ******/
DROP TABLE [dbo].[PHONG]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 14/07/2021 12:07:06 ******/
DROP TABLE [dbo].[NHANVIEN]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 14/07/2021 12:07:06 ******/
DROP TABLE [dbo].[LOAIPHONG]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 14/07/2021 12:07:06 ******/
DROP TABLE [dbo].[KHACHHANG]
GO
/****** Object:  Table [dbo].[HOADONPH]    Script Date: 14/07/2021 12:07:06 ******/
DROP TABLE [dbo].[HOADONPH]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 14/07/2021 12:07:06 ******/
DROP TABLE [dbo].[DICHVU]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 14/07/2021 12:07:06 ******/
DROP TABLE [dbo].[CHITIETHD]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 14/07/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MAHD] [char](10) NOT NULL,
	[TONGTIENDV] [int] NULL,
	[TONGTIENPHONG] [int] NULL,
	[THANHTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 14/07/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [char](10) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONPH]    Script Date: 14/07/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONPH](
	[MAHD] [char](10) NOT NULL,
	[MAKH] [char](10) NULL,
	[MADV] [char](10) NULL,
	[SOLUONGDV] [int] NULL,
	[DONGIADV] [int] NULL,
	[MAPH] [char](10) NULL,
	[DONGIAP] [int] NULL,
	[NGAYVAO] [datetime] NULL,
	[NGAYRA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 14/07/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[CMND] [char](14) NULL,
	[GIOITINH] [nvarchar](6) NULL,
	[DTHOAI] [char](10) NULL,
	[DCHI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 14/07/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHONG] [int] NOT NULL,
	[TENLOAIPHONG] [nvarchar](30) NULL,
	[DONGIA] [int] NULL,
	[NGAYCAPNHAT] [datetime] NULL,
	[NGUOICAPNHAT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 14/07/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[USERNAME] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](20) NULL,
	[HOTENNV] [nvarchar](50) NULL,
	[DIENTHOAI] [char](11) NULL,
	[DIACHI] [nvarchar](30) NULL,
	[QUYEN] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 14/07/2021 12:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [char](10) NOT NULL,
	[TRANGTHAI] [int] NULL,
	[SUCCHUA] [int] NULL,
	[MALOAIPHONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETHD] ([MAHD], [TONGTIENDV], [TONGTIENPHONG], [THANHTIEN]) VALUES (N'PH2       ', 120000, 12600000, 12720000)
INSERT [dbo].[CHITIETHD] ([MAHD], [TONGTIENDV], [TONGTIENPHONG], [THANHTIEN]) VALUES (N'PH4       ', 200000, 800000, 1000000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA]) VALUES (N'DV01      ', N'Giặt ủi quần áo', 50000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA]) VALUES (N'DV02      ', N'Thuê phương tiện di chuyển', 150000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA]) VALUES (N'DV03      ', N'Ăn sáng', 75000)
INSERT [dbo].[HOADONPH] ([MAHD], [MAKH], [MADV], [SOLUONGDV], [DONGIADV], [MAPH], [DONGIAP], [NGAYVAO], [NGAYRA]) VALUES (N'PH1       ', N'KH01      ', N'DV03      ', 4, 75000, N'P2        ', 400000, CAST(N'2021-07-14 01:33:20.313' AS DateTime), CAST(N'2021-07-15 01:32:30.000' AS DateTime))
INSERT [dbo].[HOADONPH] ([MAHD], [MAKH], [MADV], [SOLUONGDV], [DONGIADV], [MAPH], [DONGIAP], [NGAYVAO], [NGAYRA]) VALUES (N'PH2       ', N'KH03      ', N'DV04      ', 6, 20000, N'PV2       ', 900000, CAST(N'2021-07-14 10:57:08.763' AS DateTime), CAST(N'2021-07-29 10:56:35.000' AS DateTime))
INSERT [dbo].[HOADONPH] ([MAHD], [MAKH], [MADV], [SOLUONGDV], [DONGIADV], [MAPH], [DONGIAP], [NGAYVAO], [NGAYRA]) VALUES (N'PH4       ', N'KH03      ', N'DV05      ', 5, 40000, N'PV3       ', 400000, CAST(N'2021-07-14 10:04:12.667' AS DateTime), CAST(N'2021-07-17 10:03:40.000' AS DateTime))
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [GIOITINH], [DTHOAI], [DCHI]) VALUES (N'KH01      ', N'Nguyễn Lê Quốc Tấn', N'2509281321    ', N'Nam', N'1234121255', N'Bến Lức')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [GIOITINH], [DTHOAI], [DCHI]) VALUES (N'KH02      ', N'Lê Thị Mỹ Vân', N'3002486612    ', N'Nữ', N'0153692874', N'Quận Tân Bình, Thành phố Hồ Chí Minh')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [GIOITINH], [DTHOAI], [DCHI]) VALUES (N'KH03      ', N'Trần Đức Ninh', N'369281751     ', N'Nam', N'0659182741', N'Đức Hòa, Long An')
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [DONGIA], [NGAYCAPNHAT], [NGUOICAPNHAT]) VALUES (1, N'Phòng đơn', 400000, NULL, NULL)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [DONGIA], [NGAYCAPNHAT], [NGUOICAPNHAT]) VALUES (2, N'Phòng đôi', 600000, NULL, NULL)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [DONGIA], [NGAYCAPNHAT], [NGUOICAPNHAT]) VALUES (3, N'Phòng VIP', 900000, NULL, NULL)
INSERT [dbo].[NHANVIEN] ([USERNAME], [PASSWORD], [HOTENNV], [DIENTHOAI], [DIACHI], [QUYEN]) VALUES (N'admin', N'123', N'Admin test', N'0987123456 ', N'TPHCM', N'Admin')
INSERT [dbo].[NHANVIEN] ([USERNAME], [PASSWORD], [HOTENNV], [DIENTHOAI], [DIACHI], [QUYEN]) VALUES (N'staff', N'12345', N'Staff test', N'0987543612 ', N'Hà Nội', N'Staff')
INSERT [dbo].[PHONG] ([MAPHONG], [TRANGTHAI], [SUCCHUA], [MALOAIPHONG]) VALUES (N'p1        ', 0, 2, 2)
INSERT [dbo].[PHONG] ([MAPHONG], [TRANGTHAI], [SUCCHUA], [MALOAIPHONG]) VALUES (N'P2        ', 0, 1, 1)
INSERT [dbo].[PHONG] ([MAPHONG], [TRANGTHAI], [SUCCHUA], [MALOAIPHONG]) VALUES (N'PD1       ', 0, 4, 2)
ALTER TABLE [dbo].[HOADONPH]  WITH CHECK ADD  CONSTRAINT [FK_DVNP] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[HOADONPH] CHECK CONSTRAINT [FK_DVNP]
GO
ALTER TABLE [dbo].[HOADONPH]  WITH CHECK ADD  CONSTRAINT [FK_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONPH] CHECK CONSTRAINT [FK_KH]
GO
ALTER TABLE [dbo].[HOADONPH]  WITH CHECK ADD  CONSTRAINT [FK_P] FOREIGN KEY([MAPH])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[HOADONPH] CHECK CONSTRAINT [FK_P]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
GO
